.tour-header1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .40),  rgba(0, 0, 0, 0.40)), url(../images/tour-01.jpg);
}

.tour-header2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .40),  rgba(0, 0, 0, 0.40)), url(../images/tour-02.jpg);
}

.tour-header3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .40),  rgba(0, 0, 0, 0.40)), url(../images/tour-03.jpg);
}

.tour-header4 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .40),  rgba(0, 0, 0, 0.40)), url(../images/tour-04.jpg);
}

.tour-header5 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .40),  rgba(0, 0, 0, 0.40)), url(../images/tour-05.jpg);
}

.tour-header6 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .40),  rgba(0, 0, 0, 0.40)), url(../images/tour-06.jpg);
}

.tour-header7 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .40),  rgba(0, 0, 0, 0.40)), url(../images/tour-07.jpg);
}

.tour-header8 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .40),  rgba(0, 0, 0, 0.40)), url(../images/tour-08.jpg);
}

.tour-header9 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .40),  rgba(0, 0, 0, 0.40)), url(../images/tour-09.jpg);
}